---
import BaseCard from "../ui/BaseCard.astro";

interface Props {
  title: string;
  duration: string;
  company?: string;
  description?: string[];
  skills?: string[];
}

const { title, duration, company, description = [], skills = [] } = Astro.props;
---

<BaseCard className="experience-item mb-10">
  <div class="flex justify-between items-start mb-3">
    <h3 class="text-[#FFFFFF] text-xl font-medium">
      {title}{company && ` • ${company}`}
    </h3>
    <span class="text-[#C1C1C1] text-sm">{duration}</span>
  </div>

  {
    description.length > 0 && (
      <ul class="text-[#FFFFFF] opacity-70 space-y-2">
        {description.map((item) => (
          <li>{item}</li>
        ))}
      </ul>
    )
  }

  {
    Astro.slots.has("default") && (
      <div class="text-[#FFFFFF] opacity-70 mt-2">
        <slot />
      </div>
    )
  }

  {
    skills.length > 0 && (
      <div class="skills mt-4">
        {skills.map((skill) => (
          <span class="inline-block px-4 py-2 backdrop-blur-md bg-black/20 border border-zinc-800/30 text-zinc-300 rounded-full text-sm mr-2 mb-2 hover:bg-black/30 transition-colors">
            {skill}
          </span>
        ))}
      </div>
    )
  }
</BaseCard>
