---
import portraitImage from "../../assets/Portrait.jpg";
import { Image } from "astro:assets";
import GradientButton from "../gradient/GradientButton.astro";
import ResumeButton from "./DownloadResumeButton.astro";
const {
  name,
  nickname,
  resumePath = "resume/Olariu-Razvan-resume-v2.pdf",
} = Astro.props;
---

<div
  class="lg:w-2/5 lg:fixed lg:h-screen flex flex-col justify-center items-center px-8 pt-8 lg:pt-0 pb-16"
>
  <div class="profile-image-container mb-12 flex justify-center w-full">
    <Image
      src={portraitImage}
      alt={name}
      loading="eager"
      class="w-72 object-cover rounded-[36px] border-2 border-gray-700/30"
    />
  </div>
  <div class="text-content mb-1 px-0">
    <div class="flex justify-center">
      <h1
        class="text-[#FFFFFF] text-6xl whitespace-nowrap font-medium opacity-60 antialiased drop-shadow-xl"
      >
        {name}
      </h1>
    </div>
    <h2 class="text-[#C1C1C1] text-4xl mt-1 mb-6 opacity-50">{nickname}</h2>

    <!-- Social links -->
    <div class="social-links flex gap-3 justify-start mb-8">
      <slot />
    </div>

    <!-- Controls container with horizontal layout -->
    <div class="action-buttons flex space-x-5">
      <ResumeButton pdfPath={resumePath} text="Download Resume" />
      <GradientButton />
    </div>
  </div>
</div>
